<p>

  <body>
    <header class ="logo_display">
      <main>
        <div class = "header-1">
          <div class ="AIlogo">
            <img [src]="AILogo" />
          </div>
          <div class ="social_media">
            <ul>
              <li>
                <a href="https://www.youtube.com/KaiserFGO" target = "blank">
                  <img src="./img/youtube.png"></a>
              </li>
            </ul>
          </div>          
        </div>
      </main>
    </header>


    <main>
      <div class = "header-2">
        <div class = "navbar">
          <ul>
            <li>
              <a href="">Home </a>
            </li>
            <li>
              <a href="">Notícias </a>
            </li>
            <li>
              <a href="">Reviews </a>
            </li>
            <li>
              <a href="">Kaiser Awards </a>
            </li>
          </ul>

        </div>
      </div>

    </main>

  </body>
</p>